<a href="https://colab.research.google.com/github/sbardaoui/katacoda-scenarios/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Installing required tools to use spark SQL**

In [79]:
!pip install pyspark
!pip install pyprind

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)
Requirement already satisfied: pyprind in /usr/local/lib/python3.7/dist-packages (2.11.3)

**Adding the needed libraries to access our spark data base and to manage our data**

In [80]:
from pyspark.sql import SparkSession,Row
import pandas as pd
import json
import numpy as np
import pandas as pd
from scipy import stats
from copy import copy
import pyprind
import matplotlib.pyplot as plt
import seaborn as sns


spark = SparkSession \
.builder \
.appName("PySpark Create ") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

**Loading the json file to get a general view and test our spark**

In [81]:
df = spark.read.json("stocks.json")
df.show()

+----------------------------+-----------------------------+-----------------+------------------+-------------+------------------+--------------+----+-------+--------------------+-------+--------------------+------+------+--------------------+--------------------+--------------------+------------+
|20-Day Simple Moving Average|200-Day Simple Moving Average|           50-Day|           52-Week|Analyst Recom|Average True Range|Average Volume|Beta| Change|             Company|EPS ttm|       Earnings Date| Price|   ROI|                 _id|         description|         performance|       ratio|
+----------------------------+-----------------------------+-----------------+------------------+-------------+------------------+--------------+----+-------+--------------------+-------+--------------------+------+------+--------------------+--------------------+--------------------+------------+
|                     -0.0172|                       0.1062|[0.0728, -0.0544]| [0.4378, -0.0544]|          1.6|              0.86|       2569.36| 1.5|-0.0148|Agilent Technolog...|   2.68|{2013-11-14T21:30...| 50.44| 0.163|{52853800bb1177ca...|{USA, Medical Lab...|{0.1439, 0.0063, ...|  {3.0, 2.3}|
|                     -0.0192|                       0.0823|[0.1579, -0.0925]| [0.1899, -0.0925]|          3.1|               0.3|      26728.11|2.02| 0.0033|         Alcoa, Inc.|   0.25|{2013-10-08T20:30...|  9.02| 0.007|{52853800bb1177ca...|{USA, Aluminum, B...|{0.0652, 0.0766, ...|  {1.2, 0.7}|
|                     -0.0054|                       0.0693|[0.0792, -0.0194]| [0.2727, -0.0194]|         null|              0.31|         10.07|null| 0.0064|WCM/BNY Mellon Fo...|   null|                null|  36.4|  null|{52853800bb1177ca...|{USA, Exchange Tr...|{0.04, 0.0183, -0...|{null, null}|
|                     -0.0295|                       0.0492|[0.0609, -0.0641]| [0.1791, -0.0641]|         null|              0.45|          1.64|null|  -0.02|iShares MSCI AC A...|   null|                null| 29.95|  null|{52853800bb1177ca...|{USA, Exchange Tr...|{0.0307, 0.003, -...|{null, null}|
|                     -0.0189|                       0.9846|[0.8672, -0.1812]|[38.8653, -0.1812]|         null|             30.17|          4.94|null| 0.0135|Altisource Asset ...|  -0.02|                null|597.98|  null|{52853800bb1177ca...|{USA, Asset Manag...|{0.9832, 0.0631, ...|{null, null}|
|                     -0.0035|                       0.0845|[0.0747, -0.0098]| [0.6087, -0.0382]|         null|              0.06|          9.51|0.72|-0.0025|Atlantic American...|   0.38|{2013-11-04T05:00...|  4.03| 0.031|{52853800bb1177ca...|{USA, Life Insura...|{0.0949, 0.0025, ...|{null, null}|
|                       0.043|                       0.0653| [0.1508, -0.002]|  [0.2264, -0.023]|          2.8|              0.49|        763.14|1.04| 0.0013|       Aaron's, Inc.|   1.76|{2013-10-24T20:30...| 30.15| 0.138|{52853800bb1177ca...|{USA, Rental & Le...|{0.0517, 0.0617, ...|{null, null}|
|                     -0.0251|                       0.0654|[0.3539, -0.0904]| [0.3539, -0.0904]|          1.8|              0.63|        110.95|null|-0.0269|Applied Optoelect...|  -0.13|                null| 12.28|-0.004|{52853800bb1177ca...|{USA, Semiconduct...|{null, 0.2397, -0...|  {1.5, 0.9}|
|                      0.0057|                       0.2614| [0.1558, -0.054]|  [1.2639, -0.054]|          3.0|              1.07|         90.54| 1.2|  0.016|           AAON Inc.|   0.78|{2013-11-07T21:30...| 27.57| 0.198|{52853800bb1177ca...|{USA, General Bui...|{0.317, 0.0044, -...|  {2.3, 1.6}|
|                     -0.0031|                       0.1903| [0.2545, -0.038]|  [0.4159, -0.038]|          2.3|              2.11|         749.1|0.34|-0.0077|Advance Auto Part...|   5.53|{2013-10-31T12:30...| 98.92| 0.231|{52853800bb1177ca...|{USA, Auto Parts ...|{0.1687, 0.2082, ...|  {1.3, 0.3}|
|                      0.0176|                       0.1672|[0.1872, -0.0154]|  [0.397, -0.0899]|          2.0|              8.53|      12913.68|0.84| 0.0139|          Apple Inc.|  39.63|{2013-10-28T20:30...|527.87| 0.255|{52853800bb1177ca...|{USA, Electronic ...|{0.213, 0.0501, -...|  {1.7, 1.6}|
|                     -0.0269|                       0.0144|[0.1307, -0.0705]| [0.3303, -0.1008]|          1.8|              0.69|        279.14|null| 0.0053|American Assets T...|   0.05|{2013-11-05T21:30...| 32.17| 0.043|{52853800bb1177ca...|{USA, REIT - Offi...|{-0.0727, -9.0E-4...|{null, null}|
|                     -0.0722|                      -0.2745|[0.0333, -0.2994]| [0.1273, -0.6242]|         null|              0.06|        119.04|0.43| -0.008|Almaden Minerals ...|  -0.16|                null|  1.24|-0.203|{52853800bb1177ca...|{Canada, Gold, Ba...|{-0.1935, 0.0246,...|{44.8, 44.0}|
|                     -1.0E-4|                       0.0569|[0.1127, -0.0436]| [0.4158, -0.1242]|          2.7|              0.12|        149.81|2.05| 0.0233|Advantage Oil & G...|  -0.34|{2011-03-16T04:00...|  3.95|-0.068|{52853800bb1177ca...|{Canada, Oil & Ga...|{0.0078, 0.0158, ...|  {0.8, 0.8}|
|                     -0.1157|                      -0.1401|[0.0262, -0.2558]| [0.0363, -0.2558]|          2.3|              1.46|        272.88|1.91| 0.0026|Atlas Air Worldwi...|   4.45|{2013-11-07T13:30...| 37.94| 0.058|{52853800bb1177ca...|{USA, Air Service...|{-0.1752, -0.1406...|  {1.2, 1.2}|
|                     -0.0173|                       0.0187|[0.0515, -0.0457]| [0.1555, -0.0457]|         null|              0.62|        710.22|1.29| 0.0092|iShares MSCI All ...|   null|                null| 59.05|  null|{52853800bb1177ca...|{USA, Exchange Tr...|{-0.025, -0.0316,...|{null, null}|
|                      -0.007|                       0.0159| [0.123, -0.0574]| [0.4687, -0.1859]|          3.0|              0.59|        348.08|1.63|-9.0E-4|AllianceBernstein...|   1.36|{2013-10-24T12:30...|  21.5| 0.033|{52853800bb1177ca...|{USA, Asset Manag...|{-0.1159, 0.0847,...|{null, null}|
|                     -0.0077|                      -0.1784|[0.1046, -0.1613]| [0.1046, -0.3158]|          2.6|              1.09|        161.44|0.84| 0.0025|         Abaxis Inc.|   0.84|{2013-10-22T20:30...| 35.47| 0.154|{52853800bb1177ca...|{USA, Diagnostic ...|{-0.2216, -0.0958...|  {9.1, 7.6}|
|                       0.006|                       0.1223|[0.1522, -0.0304]| [0.4885, -0.0304]|          1.5|              0.34|        1315.6|1.36| 0.0048|            ABB Ltd.|   1.25|{2011-02-17T05:00...| 25.21| 0.112|{52853800bb1177ca...|{Switzerland, Ind...|{0.1389, 0.0773, ...|  {1.5, 1.2}|
|                      -0.007|                       0.1267|[0.1318, -0.0416]| [0.5013, -0.0416]|          2.1|              1.02|       4582.23|null| 0.0054|         AbbVie Inc.|   2.85|{2013-10-25T12:30...| 48.11| 0.282|{52853800bb1177ca...|{USA, Drug Manufa...|{0.0544, 0.0384, ...|  {2.3, 2.1}|
+----------------------------+-----------------------------+-----------------+------------------+-------------+------------------+--------------+----+-------+--------------------+-------+--------------------+------+------+--------------------+--------------------+--------------------+------------+
only showing top 20 rows

Viewing the schema

In [82]:
df.printSchema()

root
 |-- 20-Day Simple Moving Average: double (nullable = true)
 |-- 200-Day Simple Moving Average: double (nullable = true)
 |-- 50-Day: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- 52-Week: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- Analyst Recom: double (nullable = true)
 |-- Average True Range: double (nullable = true)
 |-- Average Volume: double (nullable = true)
 |-- Beta: double (nullable = true)
 |-- Change: double (nullable = true)
 |-- Company: string (nullable = true)
 |-- EPS ttm: double (nullable = true)
 |-- Earnings Date: struct (nullable = true)
 |    |-- $date: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- ROI: double (nullable = true)
 |-- _id: struct (nullable = true)
 |    |-- $oid: string (nullable = true)
 |-- description: struct (nullable = true)
 |    |-- Country: string (nullable = true)
 |    |-- Industry: string (nullable = true)
 |    |-- Sector: string (nullable = true)
 |-- performance: struct (nullable = true)
 |    |-- Half Year: double (nullable = true)
 |    |-- Month: double (nullable = true)
 |    |-- Week: double (nullable = true)
 |    |-- Year: double (nullable = true)
 |-- ratio: struct (nullable = true)
 |    |-- current: double (nullable = true)
 |    |-- quick: double (nullable = true)

**Testing a first "select" using spark**

In [83]:
df.select("company").show()

+--------------------+
|             company|
+--------------------+
|Agilent Technolog...|
|         Alcoa, Inc.|
|WCM/BNY Mellon Fo...|
|iShares MSCI AC A...|
|Altisource Asset ...|
|Atlantic American...|
|       Aaron's, Inc.|
|Applied Optoelect...|
|           AAON Inc.|
|Advance Auto Part...|
|          Apple Inc.|
|American Assets T...|
|Almaden Minerals ...|
|Advantage Oil & G...|
|Atlas Air Worldwi...|
|iShares MSCI All ...|
|AllianceBernstein...|
|         Abaxis Inc.|
|            ABB Ltd.|
|         AbbVie Inc.|
+--------------------+
only showing top 20 rows

# Manipulating Dataset

**We will begin by modifying our Data using python to clean the JSON file**

In [84]:
df_raw = pd.read_json("stocks.json", lines=True)
df_raw.head(2)

,_id,Company,Price,Earnings Date,description,20-Day Simple Moving Average,200-Day Simple Moving Average,50-Day,52-Week,Analyst Recom,Average True Range,Average Volume,Beta,Change,EPS ttm,ROI,ratio,performance
0,{'$oid': '52853800bb1177ca391c17ff'},Agilent Technologies Inc.,50.44,{'$date': '2013-11-14T21:30:00.000+0000'},"{'Country': 'USA', 'Sector': 'Healthcare', 'In...",-0.0172,0.1062,"[0.0728, -0.054400000000000004]","[0.4378, -0.054400000000000004]",1.6,0.86,2569.36,1.50,-0.0148,2.68,0.163,"{'quick': 2.3, 'current': 3}","{'Year': 0.4242, 'Half Year': 0.1439, 'Month':..."
1,{'$oid': '52853800bb1177ca391c1800'},"Alcoa, Inc.",9.02,{'$date': '2013-10-08T20:30:00.000+0000'},"{'Country': 'USA', 'Sector': 'Basic Materials'...",-0.0192,0.0823,"[0.1579, -0.0925]","[0.1899, -0.0925]",3.1,0.30,26728.11,2.02,0.0033,0.25,0.007,"{'quick': 0.7000000000000001, 'current': 1.2}","{'Year': 0.09630000000000001, 'Half Year': 0.0..."

Viewing the dataset shape and finding missing data

In [85]:
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values

    for name in summary['Name'].value_counts().index:
        summary.loc[summary['Name'] == name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2),2) 

    return summary

resumetable(df_raw)

Dataset Shape: (6756, 18)

,Name,dtypes,Missing,First Value,Second Value,Third Value,Entropy
0,_id,object,0,{'$oid': '52853800bb1177ca391c17ff'},{'$oid': '52853800bb1177ca391c1800'},{'$oid': '52853800bb1177ca391c1801'},12.72
1,Company,object,0,Agilent Technologies Inc.,"Alcoa, Inc.",WCM/BNY Mellon Focused Growth ADR ETF,12.72
2,Price,float64,13,50.44,9.02,36.4,11.86
3,Earnings Date,object,2198,{'$date': '2013-11-14T21:30:00.000+0000'},{'$date': '2013-10-08T20:30:00.000+0000'},None,7.25
4,description,object,0,"{'Country': 'USA', 'Sector': 'Healthcare', 'In...","{'Country': 'USA', 'Sector': 'Basic Materials'...","{'Country': 'USA', 'Sector': 'Financial', 'Ind...",6.89
5,20-Day Simple Moving Average,float64,14,-0.0172,-0.0192,-0.0054,10.57
6,200-Day Simple Moving Average,float64,14,0.1062,0.0823,0.0693,11.78
7,50-Day,object,0,"[0.0728, -0.054400000000000004]","[0.1579, -0.0925]","[0.0792, -0.0194]",12.71
8,52-Week,object,0,"[0.4378, -0.054400000000000004]","[0.1899, -0.0925]","[0.2727, -0.0194]",12.71
9,Analyst Recom,float64,2591,1.6,3.1,NaN,4.26
10,Average True Range,float64,14,0.86,0.3,0.31,7.39
11,Average Volume,float64,14,2569.36,26728.11,10.07,12.51
12,Beta,float64,2547,1.5,2.02,NaN,8.07
13,Change,float64,14,-0.0148,0.0033,0.0064,8.96
14,EPS ttm,float64,1728,2.68,0.25,NaN,9.44
15,ROI,float64,2104,0.163,0.007,NaN,9.17
16,ratio,object,0,"{'quick': 2.3, 'current': 3}","{'quick': 0.7000000000000001, 'current': 1.2}","{'quick': None, 'current': None}",5.91
17,performance,object,0,"{'Year': 0.4242, 'Half Year': 0.1439, 'Month':...","{'Year': 0.09630000000000001, 'Half Year': 0.0...","{'Year': 0.229, 'Half Year': 0.04, 'Month': 0....",12.71

In [86]:
for col in df_raw:
    print(col)
    print(type(df_raw[col].values[0]))
    print("---------------")

_id
<class 'dict'>
---------------
Company
<class 'str'>
---------------
Price
<class 'numpy.float64'>
---------------
Earnings Date
<class 'dict'>
---------------
description
<class 'dict'>
---------------
20-Day Simple Moving Average
<class 'numpy.float64'>
---------------
200-Day Simple Moving Average
<class 'numpy.float64'>
---------------
50-Day
<class 'list'>
---------------
52-Week
<class 'list'>
---------------
Analyst Recom
<class 'numpy.float64'>
---------------
Average True Range
<class 'numpy.float64'>
---------------
Average Volume
<class 'numpy.float64'>
---------------
Beta
<class 'numpy.float64'>
---------------
Change
<class 'numpy.float64'>
---------------
EPS ttm
<class 'numpy.float64'>
---------------
ROI
<class 'numpy.float64'>
---------------
ratio
<class 'dict'>
---------------
performance
<class 'dict'>
---------------

In [87]:
_id_column = df_raw["_id"].apply(lambda x: x.get('$oid'))
# np.datetime64
_id_column

0       52853800bb1177ca391c17ff
1       52853800bb1177ca391c1800
2       52853800bb1177ca391c1801
3       52853800bb1177ca391c1802
4       52853800bb1177ca391c1803
                  ...
6751    52853810bb1177ca391c325e
6752    52853810bb1177ca391c325f
6753    52853810bb1177ca391c3260
6754    52853810bb1177ca391c3261
6755    52853810bb1177ca391c3262
Name: _id, Length: 6756, dtype: object

In [88]:
date_column = df_raw["Earnings Date"].apply(lambda x: np.nan if x is None else x.get('$date'))
date_column = pd.to_datetime(date_column)
date_column

0      2013-11-14 21:30:00+00:00
1      2013-10-08 20:30:00+00:00
2                            NaT
3                            NaT
4                            NaT
                  ...
6751                         NaT
6752                         NaT
6753   2013-11-05 13:30:00+00:00
6754   2013-12-05 21:30:00+00:00
6755   2013-11-20 13:30:00+00:00
Name: Earnings Date, Length: 6756, dtype: datetime64[ns, UTC]

In [89]:
desc_column = df_raw["description"].apply(
    lambda x: x if not None else {"Country": None, "Sector": None, "Industry": None})
desc_column = desc_column.fillna("null")

In [90]:
perf_column = df_raw["performance"].apply(
    lambda x: x if not None else {"Year": None, "Half Year": None, "Month": None, "Week": None})
perf_column = perf_column.fillna(0.0)

In [91]:
ratio_column = df_raw["ratio"].apply(
    lambda x: x if not None else {"quick": None, "current": None})
ratio_column = ratio_column.fillna(0.0)

In [92]:
df_clean = df_raw
df_clean["_id"] = _id_column
df_clean["Earnings Date"] = date_column
df_clean["description"] = desc_column
df_clean["performance"] = perf_column
df_clean["ratio"] = ratio_column
df_clean.columns = ["id", "company", "price", "earningsdate", 
"description", "SMA20", "SMA200", "days50highlow", 
"weeks52highlow", "analyst_recommendation", 
"avg_true_rate", "avg_vol", "beta", "change", 
"EPSttm", "ROI", "ratio", "performance"]

df_clean.head(2)

,id,company,price,earningsdate,description,SMA20,SMA200,days50highlow,weeks52highlow,analyst_recommendation,avg_true_rate,avg_vol,beta,change,EPSttm,ROI,ratio,performance
0,52853800bb1177ca391c17ff,Agilent Technologies Inc.,50.44,2013-11-14 21:30:00+00:00,"{'Country': 'USA', 'Sector': 'Healthcare', 'In...",-0.0172,0.1062,"[0.0728, -0.054400000000000004]","[0.4378, -0.054400000000000004]",1.6,0.86,2569.36,1.50,-0.0148,2.68,0.163,"{'quick': 2.3, 'current': 3}","{'Year': 0.4242, 'Half Year': 0.1439, 'Month':..."
1,52853800bb1177ca391c1800,"Alcoa, Inc.",9.02,2013-10-08 20:30:00+00:00,"{'Country': 'USA', 'Sector': 'Basic Materials'...",-0.0192,0.0823,"[0.1579, -0.0925]","[0.1899, -0.0925]",3.1,0.30,26728.11,2.02,0.0033,0.25,0.007,"{'quick': 0.7000000000000001, 'current': 1.2}","{'Year': 0.09630000000000001, 'Half Year': 0.0..."

Exporting into a CSV file

In [93]:
df_clean.to_csv("stocks_clean.csv", index=False)

Exporting into a JSON file

In [94]:
df_clean.to_json("stocks_clean.json", orient='records')

**Partie 1 req simple**

Selecting a specific company details

In [95]:
df = spark.read.json("stocks_clean.json")
df.registerTempTable("stocks")
spark.sql("Select id, company, price from stocks where company = 'AbbVie Inc.' ").show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

+--------------------+-----------+-----+
|                  id|    company|price|
+--------------------+-----------+-----+
|52853800bb1177ca3...|AbbVie Inc.|48.11|
+--------------------+-----------+-----+

Counting all rows

In [96]:
spark.sql("select count('*') from stocks").show()

+--------+
|count(*)|
+--------+
|    6756|
+--------+

Selecting with a defined ID

In [97]:
spark.sql("select * from stocks where id='5285380dbb1177ca391c2f9a'").show()

+------+------+-------+------+----------------------+-------------+--------+----+-------+------------------+-----------------+--------------------+-------------+--------------------+--------------------+------+----------+-----------------+
|EPSttm|   ROI|  SMA20|SMA200|analyst_recommendation|avg_true_rate| avg_vol|beta| change|           company|    days50highlow|         description| earningsdate|                  id|         performance| price|     ratio|   weeks52highlow|
+------+------+-------+------+----------------------+-------------+--------+----+-------+------------------+-----------------+--------------------+-------------+--------------------+--------------------+------+----------+-----------------+
| -1.36|-0.667|-0.1504|0.3027|                   2.5|        10.13|11357.89|0.39|-0.0112|Tesla Motors, Inc.|[0.0364, -0.2949]|{USA, Auto Manufa...|1383687000000|5285380dbb1177ca3...|{0.6348, -0.2459,...|137.14|{2.3, 1.8}|[3.4964, -0.2949]|
+------+------+-------+------+----------------------+-------------+--------+----+-------+------------------+-----------------+--------------------+-------------+--------------------+--------------------+------+----------+-----------------+